@model List<OfficeAutomation.Models.view_teachers_college>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>课表管理</title>
    <link href="~/css/s.css" rel="stylesheet" />
    <link href="~/css/extend.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/plus/layui/layui.js"></script>
    <style type="text/css">
        #demo1 {
            text-align: center;
            margin-top: 60px;
            /*position: fixed;*/
            /*bottom: 0;*/
        }

        .layui-layer-shade {
            z-index: 49 !important;
        }

        .layui-layer-page {
            z-index: 50 !important;
        }
    </style>
</head>

<body>
    <div class="demoTable">
        <br> &nbsp;&nbsp;&nbsp;
        <button class="layui-btn layui-btn-normal" onclick="location.href = '../Classtime/Index'">学院</button>

        <button class="layui-btn layui-btn-disabled">老师</button>

        <br>
        <br> &nbsp;&nbsp;&nbsp;
        老师：
        <div class="layui-inline layui-form">
            <select name="demoReload" lay-filter="test">
                <option></option>
                @{
                    foreach (var item in Model)
                    {
                        <option value="@item.id">@item.name (@item.college_name)</option>
                    }
                }
            </select>
        </div>
        
        <button class="layui-btn" data-type="query"><i class="layui-icon">&#xe615;</i> 查询</button> <button class="layui-btn" data-type="reload"><i class="layui-icon">&#x1002;</i> 复位</button>
    </div>
    <table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>


    <script>
        var $;
        layui.use(['table', 'layer', 'form'],
            function () {
                var layer = layui.layer,
                    table = layui.table,
                    form = layui.form;
                //方法级渲染
                table.render({
                    elem: '#LAY_table_user',
                    url: '../Classtime/Get',
                    cols: [
                        [
                            { field: 'lesson', width: 160, title: '--', fixed: 'left' },
                            { field: 'mon', title: '星期一', sort: true, fixed: true },
                            { field: 'tues', title: '星期二', sort: true, fixed: true },
                            { field: 'wednes', title: '星期三', sort: true, fixed: true },
                            { field: 'thurs', title: '星期四', sort: true, fixed: true },
                            { field: 'fri', title: '星期五', sort: true, fixed: true },
                            { field: 'sat', title: '星期六', sort: true, fixed: true },
                            { field: 'sun', title: '星期日', sort: true, fixed: true }
                        ]
                    ],
                    id: 'testReload',
                    page: false,
                    height: 'full-100',
                    limit: 20,
                    limits: [20, 50, 100, 200, 300, 400, 500]
                });
                var active = {
                    query: function () {
                        var teachers = $("select[name=demoReload]");

                        //执行重载
                        table.reload('testReload', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                            , where: {
                                teachersid: teachers.val()
                            }
                        });
                    }
                    ,
                    reload: function () {
                        var teachers = $("select[name=demoReload]");
                        teachers.val("");
                        form.render('select')
                        //执行重载
                        table.reload('testReload', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }, where: {
                                teachersid: ""
                            }
                        });
                    }
                };

                $('.demoTable .layui-btn').on('click',
                    function () {
                        var type = $(this).data('type');
                        active[type] ? active[type].call(this) : '';
                    });
            });
    </script>
</body>
</html>