@{
    Layout = null;
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <div class="layui-card-header">Details</div>
    <div class="layui-card-body layui-text layadmin-about">
        <script type="text/html" template="">
            <p>1.项目名称：自动化办公系统</p>

            <p>2.项目提出者：庄德鑫 </p>

            <p>3.开发者：江崟才</p>

            <p>4.本OA系统将是独立的OA系统，目前不与</p>
            
            <p>其他的OA或者操作网站系统提供特别的接</p>    
            
            <p>口，所产生的输出都是独立的。</p>

            <p>本系统将使用MySql数据库存储系统文件。</p>
        </script>
    </div>
</body>
</html>